body {
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 14px;
  color: #444444;
  background: #dddddd;
  padding: 0px;
}
.wrapper-top {
  background-color: #f1f1f1;
  background-image: url('../img/wrapper-bottom.jpg');
  background-repeat: repeat-x;
  background-position: bottom center;
}
.nav a {
  color: #444444;
}
.nav a:hover,
.nav li a:hover {
  background-color: transparent;
  color: #000;
}
.section {
  color: #444444;
}
.section .title {
  margin: 0px;
  padding: 0px;
  line-height: 1.2em;
}
.section .title,
.section .title a {
  color: #444444;
}
.section .content {
  background: #ffffff;
}
.container {
  width: 942px;
}
.column {
  display: block;
  float: left;
  width: 300px;
}
.column-large {
  width: 600px;
}
.nav {
  margin: 0px;
}
.content {
  padding: 7px 0px;
}
.inner {
  margin: 0px 14px;
}
.section .title {
  margin: 0px 14px;
}
.nav {
  background-color: #aaaaaa;
  padding: 0px 14px;
}
.nav-pills > li > a {
  border-radius: 0px;
}
.nav-filler {
  height: 35px;
}
.site-logo {
  background-color: #ed3c95;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url('../img/nickreid-logo-300x186.png');
  width: 300px;
  height: 186px;
  margin: 0px;
  overflow: hidden;
  text-indent: -30000em;
}
.nav-tabs > li.button-icon > a,
.nav-pills > li.button-icon > a {
  padding: 0px;
  margin: 2px 7px;
}
.button-icon a {
  background-color: transparent;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-image: url('../img/nickreid-icons.png');
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -30000em;
}
.nav .button-icon a:hover {
  background-color: transparent;
}
.button-twitter a {
  background-position: 0px 0px;
}
.nav .button-twitter a:hover {
  background-position: 0px -34px;
}
.button-linkedin a {
  background-position: -110px 0px;
}
.nav .button-linkedin a:hover {
  background-position: -110px -34px;
}
.button-github a {
  background-position: -50px 0px;
}
.nav .button-github a:hover {
  background-position: -50px -34px;
}
