body{
	font-family:	@fontFamily;
	font-size:		@fontSize;
	color:			@fontColor;
	background:		@footerBackgroundColor;
	padding:0px;
}

h2{
	text-align: right;
}

.wrapper-top{
	background-color:		@topBackgroundColor;
	background-image:		url('../img/wrapper-bottom.jpg');
	background-repeat:		repeat-x;
	background-position:	bottom center;
}

.nav{
	font-size: @navFontSize;
	a{
		color:@fontColor;
	}
	a:hover, li a:hover{
		background-color: transparent;
		color:#000;
	}
}

.section{
	margin-top:		@spaceSize;
	color:			@fontColor;
	.title, h2.title, h3.title{
		margin:0px;
		padding:@spaceSize/2 @spaceSize*2 0px;
		line-height:1.2em;
		border-bottom: @borderColor @borderWidth*2 solid;
		&a, a{
			color: @fontColor;
			&:hover{
				cursor:pointer;
				text-decoration:none;
				border-bottom-color:@fontColor;
			}
		}
	}
	h2.title{
		margin-top:@spaceSize;
	}
	h3.title{
		margin-top:@spaceSize/2;
	}
	.content{
		background:	@sectionBackground;
	}
}

.section-image, .column-image{
	display:block;
	margin:0px;
	padding:0px;
	background-image:		url('../img/nickreid-picture.jpg');
	background-repeat:		no-repeat;
	background-position:	top left;
	height:200px;
}

.image-nickreid{
	background-image:		url('../img/nickreid-picture.jpg');
	height: 160px;
	margin-top:28px;
}