body{
	font-family:	@fontFamily;
	font-size:		@fontSize;
	color:			@fontColor;
	background:		@footerBackgroundColor;
	padding:0px;
}

.wrapper-top{
	background-color:		@topBackgroundColor;
	background-image:		url('../img/wrapper-bottom.jpg');
	background-repeat:		repeat-x;
	background-position:	bottom center;
}

.section{
	color:			@fontColor;
	background:		@sectionBackground;
}