.container{
	width:@blockSize*3 + @spaceSize*3;
}

.column{
	display:block;
	float:left;
	width:@blockSize;
}

.column-large{
	width:@blockSize*2;
}

.nav{
	margin:0px;
}

.content{
	padding:@spaceSize/2 0px;	
}
.inner{
	margin:0px @spaceSize;
}