.site-logo{
	background-color:		@highlightColor;
	background-position:	top left;
	background-repeat:		no-repeat;
	background-image:		url('../img/nickreid-logo-300x186.png');
	width:					300px;
	height:					186px;
	margin:					0px;
	overflow:				hidden;
	text-indent:			-30000em;
}

.nav-tabs > li.button-icon > a, .nav-pills > li.button-icon > a{
	padding:0px;
	margin:2px @spaceSize/2;
}

.button-icon a{
	background-color:		transparent;
	background-position:	0px 0px;
	background-repeat:		no-repeat;
	background-image:		url('../img/nickreid-icons.png');
	width:					30px;
	height:					30px;
	overflow:				hidden;
	text-indent:			-30000em;
}

.button-twitter a{
	background-position:	0px 0px;
}

.button-linkedin a{
	background-position:	-110px 0px;
}

.button-github a{
	background-position:	-50px 0px;
}